.necro-bar{
	background-image: url("../Content/CharSheetEndSplatter.png"), url("../Content/CharSheetBarEnd.png"), url("../Content/CharSheetbarMid.png");
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left, right, center;
	min-height: 56px;
	color: white;
	padding-top: 10px;
	padding-left: 16px;
	margin-top: -12px;
	margin-bottom: -6px;
	margin-left: -28px;
	font-weight: bold;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}
.necro-bar-flat{
	background-image: url("../Content/CharSheetBarEnd.png"), url("../Content/CharSheetbarMid.png");
	background-repeat: no-repeat, repeat;
	background-position: right, center;
	min-height: 56px;
	color: white;
	padding-top: 10px;
	padding-left: 4px;
	margin-top: -12px;
	margin-bottom: -6px;
	font-weight: bold;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}
.necro-box{
	background-image: url("../Content/CharSheetEndSplatter.png");
	background-repeat: no-repeat;
	padding-top: 24px;
	padding-left: 24px;
	margin-left: -24px;
	margin-bottom: 16px;
	min-height: 56px;
	background-origin: border-box;
}
.necro-box-header{
	z-index: 100;
	position: relative;
	color: white;
	margin-bottom: -34px;
	margin-left: -8px;
	font-weight: bold;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.karma-done{
	text-decoration: line-through;
}
.bg-black{
	background-color: #121212;
}
.text-outline{
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}
.necro-table-offset{
	margin-top: -56px;
}
.necro-table-head{
	height: 20px;
}
.necro-item{
	background-color: #fafafa;
}

.necro-item.disabled{
	pointer-events: none;
	opacity: 0.65;
}
.fade.disabled{
	pointer-events: none;
}
.necro-item.active{
	background-color: #aaaaaa;
}
.necro-item:hover{
	background-color: #dadada;
}
.class-preview{
	background-repeat: no-repeat;
	background-position: right;
}
.tile-64{
	width: 64px;
	height: 64px;
	background-size: contain;
	border-radius: 5px;
	border: 1px outset #DDDDDD;
}
.bg-img-head{
	background-image: url("../Content/Icons/LocationHead.png");
}
.bg-img-arms{
	background-image: url("../Content/Icons/LocationArms.png");
}
.bg-img-torso{
	background-image: url("../Content/Icons/LocationTorso.png");
}
.bg-img-legs{
	background-image: url("../Content/Icons/LocationLegs.png");
}
.spent{
	color: #808080;
}
.treasure-title{
	height: calc(1.25em + 0.1rem + 2px);
	padding: 0.25rem 0.1rem;
	font-size: 1.25rem;
	line-height: 1.25;
	border-radius: 0.2rem;
}
.treasure-location{
	height: calc(1.5em + 0.5rem + 2px);
	padding: 0.25rem 0.5rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}
.doll-list-item:hover .text-dark{
	/*background-color: #dadada;*/
	
}
.doll-list-item:hover{
	box-shadow: 25px 25px 10px -15px grey;
	margin-top: -10px;
	margin-left: -34px;
	margin-right: 10px;
	margin-bottom: 20px;
}
.doll-list-item .text-dark{
	background-color: #ffffff;
}
.doll-list-item{
	box-shadow: 15px 15px 10px -13px grey;
	margin-top: 0px;
	margin-left: -24px;
	margin-right: 0px;
	margin-bottom: 10px;
}
#necro-head{
	width:134px; 
	height:153px; 
	margin-top:-60px; 
	margin-right:-54px;
}
#necro-arm{
	width:60px; 
	height:214px; 
	margin-right:52px; 
	margin-left:-32px; 
	margin-top:12px; 
	z-index:10;
}
#necro-torso{
	width:60px; 
	height: 146px; 
	margin-right:-16px; 
	margin-left:36px; 
	margin-top:12px;
}
#necro-leg{
	width:54px; 
	height:231px; 
	margin-right:64px; 
	margin-left:-28px; 
	margin-top:10px; 
	z-index:10
}
.necro-item-header{
	background: white;
	border-radius: 15px;
	border: 2px solid #404040;
	margin-bottom: 0px;
	margin-top: -20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: -5px;
}
.full-height{
	height: 100%;
}
/*doll fetters*/
/*hide mad elements while sane, sane elements while mad*/
.fetter.fetter-state-sane .fetter-mad, .fetter.fetter-state-mad .fetter-sane{
	display: none;
}	
.fetter-chain{
	background-image: url("../Content/FetterChain.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #dddddd;
	width: 31px;
	height: 19px;
	text-align: center;
	background-size: contain;
}
.fetter-madness-track{
	display:flex;
	align-items: center;
}

/*bootstrap overrides*/
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #ffffff;
  background-color: #121212;
  font-weight: bold;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #202020;
  color: #ffffff;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  background-color: #121212;
}

.nav-tabs .nav-link.disabled {
  color: #a0a0a0;
  background-color: #404040;
  border-color: transparent;
}
.form-inline label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    margin-bottom: 0;
	text-align: right;
	width: 160px;
  }
.popover{
	max-width: 600px;
	min-width: 600px;
}